.weather {
    place-self: center;
    padding: 40px;
    border-radius: 12px;
    background-image: linear-gradient(45deg, #000000, #51555d);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s ease;
}

.dark-mode {
    background-image: linear-gradient(45deg, #0e3184, #9dabe9); 
}

.toggle-button {
    align-self: flex-end;
    cursor: pointer;
    margin-bottom: 20px;
    background: none;  
    border: none;  
    padding: none;  
    display: inline-flex;
    align-items: center;
    width: 100px;  
    height: 50px; 
    border-radius: 30px;  
    overflow: hidden;  
    outline: none; 
    box-shadow: none;
}

.toggle-button img {
    width: 100%; 
    height: 100%; 
    object-fit: calc(); 
    display: block;
    background: none; 
    padding: 0;
    outline: none; 
    box-shadow: none; 
    overflow: hidden; 
    border: none;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 12px;
}

.search-bar input {
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
}

.search-bar img {
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
}

.weather-icon {
    width: 150px;
    margin: 30px 0;
}

.temperature {
    color: #e3dcdc; 
    font-size: 80px;
    line-height: 1;
}

.location {
    color: #ebd6d6;
    font-size: 40px;
}

.dark-mode .temperature, .dark-mode .location {
    color: #fff; 
}

.weather-data {
    width: 100%;
    margin-top: 40px;
    color: #e9d9d9;
    display: flex;
    justify-content: space-between;
}

.dark-mode .weather-data {
    color: #0c0b0b;
}

.weather-data .col {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
}

.weather-data .col span {
    display: block;
    font-size: 16px;
}

.weather-data .col img {
    width: 35px;
    margin-top: 10px;
}
